<!--<h1>Device Details View</h1>
<div *ngIf="!showUpdate">
    <div class="device" *ngFor="let device of devices">
        <app-device-details [deviceDetail]="device" (updateDetail)="updateDevice($event)"></app-device-details>
    </div>
</div>
<br>
<div *ngIf="showUpdate">
    <app-reactive-form [device]="selectedDevice" (update)="updateDisplay($event)"></app-reactive-form>
</div>

<div>
    <h1> Add Device</h1>
    <app-template-form (deviceDetail)="newDeviceAdded($event)"></app-template-form>
</div>-->

<!-- Activity 5
<p>{{title}}</p>
<h1>{{activity5Title}}</h1>

<div *ngFor="let device of devices">
    <app-device-details [deviceDetail]="device"></app-device-details>
</div>-->

<!--Activity 4
<br>
<p>Count: {{counter}}</p>
<br>
<button (click)="addCount()">Add Count</button>
<br>
<button (click)="subCount()">Sub Count</button>

<app-second *ngIf ="counter > 5"></app-second>-->

<!-- <app-first [firstInput]="appMessage"></app-first>
<app-second></app-second>
<app-third (thirdOutput)="appEvent($event)"></app-third>
<app-fourth></app-fourth> -->

<!-- <div *ngFor="let message of appMessageArray">
    <app-first [firstInput]="message"></app-first>
</div>
<div *ngIf="showComponent">
    <app-second></app-second>
</div>
<button (click)="showHide()">Show</button> -->

<!--<router-outlet></router-outlet>-->
<app-http></app-http>




