<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>

    <body>
        <div class="form-group border border-primary mr-3 ml-3">
            <div class="mt-2 ml-2">
                <h2>{{deviceDetail.name}}</h2>
                <p>Brand: {{deviceDetail.brand}}</p>
                <p>Model: {{deviceDetail.model}}</p>
                <p>Year: {{deviceDetail.year}}</p>
                <p>Serial: {{deviceDetail.serial}}</p>
                <button class="btn btn-primary mb-2" (click) = "updateDevice(deviceDetail.id)">Update</button>
            </div>
        </div>
    </body>
</html>